<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets - Index</title>
      {% include './cdn.html' %}
  </head>
  <body>
    <div class="container">
      <a href="logout" class="right">Logout</a>
      <h1>Hello, {{currentuser.username}}!</h1>
      {% if messages %}
      {% for message in messages %}
      <p class="{{message.tags}}">
        {{message}}
      </p>
      {% endfor %}
      {% endif %}
      <form action="process" method="post">
        {% csrf_token %}
        <textarea cols="150" rows="5" name="secret" class="form-control" placeholder="Your secret here..."></textarea>
        <button type='submit' class='spacebtn btn-lg btn-primary'>Post</button>
      </form>
      <a href="popular">Most popular secrets</a>

      <h3>Recent secrets</h3>
      {% for secret in secrets %}

      <p>{{secret.secret}} ({{secret.created_at|timesince}} ago) {{secret.likers.all.count}} likes
        {% if secret.author == currentuser %}
        <a href="delete/{{secret.id}}/sec">Delete</a></p>
        {% elif currentuser in secret.likers.all %}
          <strong>You liked this</strong>
        {% else %}
          <a href="like/{{secret.id}}/sec">Like</a></p>
        {% endif %}
      {% endfor %}
      <!-- <p>Oscar doesn't actually like VR. (25 minutes ago) 3 likes <strong>You liked this</strong></p>
      <p>JavaScript is the tumor of the Internet that will never go away. (1 hour 45 minutes ago) 1 like <strong>You posted this</strong> <a href="#">Delete</a></p> -->


    </div>
  </body>
</html>
